*{
    font-family: Arial, Helvetica, sans-serif;
font-size: 16px;}

body{
    background-color: rgb(112, 112, 184)
}
main{
    background-color: aliceblue;
    width: 700px;
    margin:auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(14, 5, 5, 0.296);
}
img.lado{float:right;}
p{text-align: justify;}
